:root {
  --gradient: linear-gradient(to right, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
  --pale-blue: hsl(243, 100%, 93%);
  --grayish-blue: hsl(229, 7%, 55%);
  --dark-blue: hsl(228, 56%, 26%);
  --very-dark-blue: hsl(229, 57%, 11%);
  --white: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: "Raleway", sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: var(--pale-blue);
  background-color: var(--very-dark-blue);
  background-image: url(./images/bg-desktop.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100% 50%;
  margin: 0 1.5rem;
}

.container {
  width: 920px;
  display: flex;
  align-items: flex-end;
  gap: 30px;
}

.bloc_images {
  width: 38%;
  padding: 40px;
  background-color: var(--dark-blue);
  border-radius: 10px 100px 10px 10px;
}

.logo {
  margin-bottom: 30px;
}

.icons {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.icon {
  width: 50px;
  height: 50px;
  background: var(--very-dark-blue);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bloc_input {
  position: relative;
  width: 62%;
  padding: 40px;
  background-color: var(--dark-blue);
  border-radius: 10px;
}

.bloc_input h1 {
  display: block;
  margin-bottom: 1rem;
  font-size: 12px;
  font-weight: 400;
}

.progress {
  position: relative;
  width: auto !important;
  padding: 4px;
  margin-bottom: 0.5rem;
  background-color: var(--very-dark-blue);
  border-radius: 10px;
}

.progress_bar {
  position: relative;
  width: 81.5%;
  transition: none 0s ease 0s;
  height: 14px;
  border-radius: 10px;
  background: var(--gradient);
}

.progress_bar:after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  top: 2px;
  right: 2px;
  background: var(--white);
  border-radius: 50%;
}

.progress_labels {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.popup {
  position: absolute;
  top: -40px;
  right: 40px;
  padding: 0.75rem 1.5rem;
  background: #fff;
  border-radius: 10px 10px 0 10px;
}

.popup:after {
  content: "";
  position: absolute;
  width: 0px;
  height: 0px;
  bottom: -20px;
  right: 0px;
  border-left: 20px solid transparent;
  border-right: 0px solid transparent;
  border-top: 20px solid var(--white);
}

.popup p {
  text-transform: uppercase;
  color: var(--grayish-blue);
  font-weight: 600;
  font-size: 0.62 5rem;
  display: flex;
  align-items: center;
}

.popup p span {
  color: var(--very-dark-blue);
  font-size: 2.125rem;
  font-weight: 700;
  padding-right: 8px;
}

@media only screen and (max-width: 1023px) {
  body {
    background-color: initial;
    background-image: url(./images/bg-mobile.png);
    background-position: center;
    background-size: cover;
  }

  main {
    width: 100%;
  }

  .container {
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
  }

  .bloc_images,
  .bloc_input {
    width: 100%;
  }

  .progress_labels {
    margin-bottom: 1rem;
  }

  .popup {
    top: initial;
    right: calc(50% - 80px);
    border-radius: 10px;
  }

  .popup:after {
    display: none;
  }
}
